@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #384042;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f1f3f3;
}

::-webkit-scrollbar-thumb {
  background-color: #cdd3d5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a1acaf;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  /* For Firefox */
  color: #a1acaf;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f9fafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
}

p,
input {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
}

span {
  color: inherit;
}

input {
  color: #384042;
  outline: none;
  border: none;
}

::-moz-placeholder {
  color: #a1acaf;
}

:-ms-input-placeholder {
  color: #a1acaf;
}

::placeholder {
  color: #a1acaf;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.material-icons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em 1.5em;
  background-color: #254be8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 350ms ease, background-color 350ms ease, box-shadow 350ms ease, color 350ms ease, 350ms text-shadow ease, border-radius 350ms ease;
}
.c-button:hover {
  background-color: #0826a1;
}
.c-button:disabled {
  background-color: #748cee;
}
.c-button__icon--font-36 {
  font-size: 36px;
}
.c-button--height-100 {
  height: 100%;
}
.c-button--width-100 {
  width: 100%;
}
.c-button--text-only {
  background-color: transparent;
  color: #254be8;
  box-shadow: none;
  padding: 0;
}
.c-button--text-only:hover {
  background-color: inherit;
}
.c-button--text-neutral-600 {
  color: #a1acaf;
}
.c-button--text-green-secondary-500 {
  color: #0aec4f;
}
.c-button--border-green-secondary-500 {
  border: 2px solid #0aec4f;
}
.c-button--border-neutral-600 {
  border: 2px solid #a1acaf;
}
.c-button--text-white {
  color: white;
}
.c-button--text-black {
  color: #262b2c;
}
.c-button--text-neutral-500 {
  color: #718084;
}
.c-button--text-red {
  color: red;
  text-shadow: none;
}
.c-button--square {
  padding: 0.5em;
  width: 70px;
  height: 70px;
}
.c-button--circle {
  padding: 0.5em;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.c-button--circle-small {
  padding: 0.5rem;
  border-radius: 50%;
  transition-duration: 0ms;
}
.c-button--circle-small:hover {
  background-color: #f1f3f3;
}
.c-button--circle-small:active {
  background-color: #cdd3d5;
}
.c-button--circle-small-blue-secondary {
  padding: 0.5rem;
  border-radius: 50%;
  transition-duration: 0ms;
}
.c-button--circle-small-blue-secondary:hover {
  background-color: #a0b0f3;
}
.c-button--circle-small-blue-secondary:active {
  background-color: #cdd6f9;
}
.c-button--large {
  padding: 1em 3em;
}
.c-button--margin-top {
  margin-top: 1rem;
}
.c-button--margin-left {
  margin-left: 1rem;
}
.c-button--margin-bottom {
  margin-bottom: 1rem;
}
.c-button--red {
  background-color: #fd0b1d;
}
.c-button--red:hover {
  background-color: #c20505;
}
.c-button--blue-primary-500 {
  background-color: #11b5e4;
}
.c-button--blue-primary-500:hover {
  background-color: #0b7998;
}
.c-button--green-secondary-500 {
  background-color: #0aec4f;
}
.c-button--green-secondary-500:hover {
  background-color: #00af35;
}
.c-button--rotate {
  background-color: rgba(37, 75, 232, 0);
  transform: rotate(135deg);
  color: #254be8;
  box-shadow: 0 0 0 transparent;
  text-shadow: 0 1px 1px rgba(161, 172, 175, 0.11), 0 2px 2px rgba(161, 172, 175, 0.11), 0 4px 4px rgba(161, 172, 175, 0.11), 0 6px 8px rgba(161, 172, 175, 0.11), 0 8px 16px rgba(161, 172, 175, 0.11);
}
.c-button--rotate:hover {
  background-color: inherit;
}

.c-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.c-logo__image {
  width: 24px;
  height: 24px;
}
.c-logo__image--visual {
  width: 200px;
  height: 200px;
}
.c-logo__image--medium {
  width: 36px;
  height: 36px;
}
.c-logo__element--blue-primary-500 {
  fill: #11b5e4;
}
.c-logo__element--blue-primary-900 {
  fill: #c1eefa;
}
.c-logo__element--green-secondary-500 {
  fill: #0aec4f;
}
.c-logo__element--green-secondary-900 {
  fill: #c2fad3;
}
.c-logo__element--white {
  fill: white;
}
.c-logo__appname {
  display: none;
  color: #718084;
  font-size: 1.125rem;
  margin-left: 0.5rem;
}
.c-logo__appname--white {
  color: white;
}
@media screen and (min-width: 350px) {
  .c-logo__appname {
    display: block;
  }
}
.c-logo--visual {
  position: absolute;
  top: calc(-90px - clamp(30px, 8vw, 40px));
  right: calc(-30px - clamp(30px, 8vw, 40px));
  z-index: 0;
}

.c-header {
  color: #262b2c;
}
.c-header--small {
  font-size: 0.813rem;
}
.c-header--medium {
  font-size: 1rem;
}
.c-header--large {
  font-size: 1.125rem;
}
.c-header--xx-large {
  font-size: 2rem;
}
.c-header--fluid-xx-large {
  font-size: clamp(2rem, 5vw, 4rem);
}
.c-header--fluid-x-large {
  font-size: clamp(2rem, 5vw, 3.8rem);
}
.c-header--fluid-large {
  font-size: clamp(2rem, 5vw, 3.5rem);
}
.c-header--fluid-medium {
  font-size: clamp(2rem, 5vw, 3rem);
}
.c-header--fluid-small {
  font-size: clamp(2rem, 5vw, 2.5rem);
}
.c-header--margin-bottom {
  margin-bottom: 0.5rem;
}
.c-header--margin-bottom-30 {
  margin-bottom: 0.3rem;
}
.c-header--margin-top {
  margin-top: 1rem;
}
.c-header__name {
  color: #11b5e4;
}
.c-header--italic {
  font-style: italic;
}
.c-header--white {
  color: white;
}
.c-header--neutral-500 {
  color: #718084;
}
.c-header--neutral-600 {
  color: #a1acaf;
}
.c-header--neutral-700 {
  color: #cdd3d5;
}
.c-header--neutral-800 {
  color: #f1f3f3;
}
.c-header--neutral-900 {
  color: #f9fafa;
}
.c-header--blue-primary-500 {
  color: #11b5e4;
}
.c-header--blue-primary-600 {
  color: #33c6f0;
}
.c-header--blue-primary-700 {
  color: #62d3f3;
}
.c-header--green-secondary-500 {
  color: #0aec4f;
}
.c-header--green-secondary-700 {
  color: #64f18f;
}
.c-header--center {
  text-align: center;
}
.c-header--right {
  text-align: right;
}
.c-header--shadow {
  text-shadow: 0 1px 1px rgba(161, 172, 175, 0.11), 0 2px 2px rgba(161, 172, 175, 0.11), 0 4px 4px rgba(161, 172, 175, 0.11), 0 6px 8px rgba(161, 172, 175, 0.11), 0 8px 16px rgba(161, 172, 175, 0.11);
}
.c-header--break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.c-header--hoverable {
  cursor: pointer;
}
.c-header--hoverable:hover {
  color: #718084;
}

.c-text {
  color: #262b2c;
}
.c-text__link {
  font-weight: 700;
  color: #254be8;
}
.c-text--margin-bottom {
  margin-bottom: 0.5rem;
}
.c-text--margin-top {
  margin-top: 0.5rem;
}
.c-text--700 {
  font-weight: 700;
}
.c-text--fluid-large {
  font-size: clamp(2rem, 5vw, 3.5rem);
}
.c-text--fluid-medium {
  font-size: clamp(2rem, 5vw, 3rem);
}
.c-text--fluid-small {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}
.c-text--small {
  font-size: 0.813rem;
}
.c-text--large {
  font-size: 1.125rem;
}
.c-text--x-large {
  font-size: 1.5rem;
}
.c-text--xx-large {
  font-size: 2rem;
}
.c-text--italic {
  font-style: italic;
}
.c-text--thin {
  font-weight: 300;
}
.c-text--bold {
  font-weight: 700;
}
.c-text--center {
  text-align: center;
}
.c-text--centered-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.c-text--neutral-300 {
  color: #4b5558;
}
.c-text--neutral-400 {
  color: #5e6b6e;
}
.c-text--neutral-500 {
  color: #718084;
}
.c-text--neutral-600 {
  color: #a1acaf;
}
.c-text--neutral-700 {
  color: #cdd3d5;
}
.c-text--neutral-800 {
  color: #f1f3f3;
}
.c-text--neutral-900 {
  color: #f9fafa;
}
.c-text--green-secondary-300 {
  color: #00af35;
}
.c-text--green-secondary-400 {
  color: #00e946;
}
.c-text--green-secondary-500 {
  color: #0aec4f;
}
.c-text--green-secondary-700 {
  color: #64f18f;
}
.c-text--blue-primary-500 {
  color: #11b5e4;
}
.c-text--blue-primary-600 {
  color: #33c6f0;
}
.c-text--blue-primary-700 {
  color: #62d3f3;
}
.c-text--white {
  color: white;
}
.c-text--red {
  color: #fd0b1d;
}
.c-text--unclickable {
  pointer-events: none;
}
.c-text--absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l-home {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto 1fr;
  min-height: 100%;
  max-height: 100vh;
  background-color: #f9fafa;
  position: relative;
}
.l-home__top {
  grid-column: 1/-1;
  z-index: 99;
}
.l-home__hero-text {
  z-index: 1;
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .l-home__hero-text {
    justify-content: center;
    align-items: center;
    grid-column: 1/7;
  }
}
.l-home__hero-image {
  z-index: 0;
  grid-row: 2/-1;
  grid-column: 1/-1;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .l-home__hero-image {
    grid-column: 7/-1;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .l-home {
    grid-template-columns: repeat(12, 1fr);
  }
}

.c-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem clamp(1rem, 8vw, 1.3rem);
  background-color: white;
  border-bottom: 1px solid #cdd3d5;
}
.c-top__actions {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .c-top {
    padding: 0.3rem 3rem;
    background-color: white;
    border-bottom: 1px solid #cdd3d5;
  }
}

.c-hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: clamp(5rem, 8vw, 8rem) clamp(1rem, 8vw, 1.3rem);
  background: linear-gradient(0deg, #cdd3d5 0%, rgba(241, 243, 243, 0.5) 85%, rgba(249, 250, 250, 0) 100%);
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .c-hero-text {
    background: transparent;
    margin: 1.5rem;
    padding: 1.5rem;
  }
}

.c-hero-image {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.c-hero-image__image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .c-hero-image__image {
    max-width: 750px;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .c-hero-image {
    align-items: flex-end;
    justify-content: center;
    opacity: 1;
  }
}/*# sourceMappingURL=home.css.map */