@use "variables/variables" as v;
@use "defaults/defaults";
@use "generals/buttons";
@use "generals/logo";
@use "generals/texts";

.l-home {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto 1fr;
  min-height: 100%;
  max-height: 100vh;
  background-color: v.$neutral-900;
  //   overflow: hidden;
  position: relative;

  &__top {
    grid-column: 1 / -1;
    z-index: 99;
    // @media screen and (min-width: v.$laptop) and (orientation: "landscape") {
    //   position: fixed;
    //   width: 100%;
    //   top: 0;
    // }
  }

  &__hero-text {
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: flex;
    // align-items: center;
    align-items: flex-end;
    justify-content: flex-end;

    @media screen and (min-width: v.$laptop) and (orientation: "landscape") {
      justify-content: center;
      align-items: center;
      grid-column: 1 / 7;
    }
  }

  &__hero-image {
    z-index: 0;
    // display: none;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    height: 100%;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: v.$laptop) and (orientation: "landscape") {
      grid-column: 7 / -1;
    }
  }

  @media screen and (min-width: v.$laptop) and (orientation: "landscape") {
    grid-template-columns: repeat(12, 1fr);
    // background: linear-gradient(
    //   0deg,
    //   rgba(241, 243, 243, 1) 0%,
    //   rgba(249, 250, 250, 1) 100%
    // );
  }
}

.c-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem v.$fluid-pad-mar;
  background-color: white;
  border-bottom: 1px solid v.$neutral-700;
  // box-shadow: v.$short-shadow-neutral-600;

  &__actions {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: v.$laptop) and (orientation: "landscape") {
    padding: 0.3rem 3rem;
    background-color: white;
    border-bottom: 1px solid v.$neutral-700;
    // box-shadow: v.$short-shadow-neutral-600;
  }
}

.c-hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //   margin: clamp(3rem, 8vw, 6rem) 0;
  //   justify-content: flex-start;
  padding: clamp(5rem, 8vw, 8rem) v.$fluid-pad-mar;
  background: linear-gradient(
    0deg,
    rgba(205, 211, 213, 1) 0%,
    rgba(241, 243, 243, 0.5) 85%,
    rgba(249, 250, 250, 0) 100%
  );
  @media screen and (min-width: v.$laptop) and (orientation: "landscape") {
    // border-left: 3px solid v.$blue-primary-500;
    background: transparent;
    margin: 1.5rem;
    padding: 1.5rem;
  }
}

.c-hero-image {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  //   opacity: 0.5;
  //   overflow: visible;

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    // box-shadow: v.$short-shadow-neutral-600;
    // filter: drop-shadow(v.$short-shadow-neutral-600);
    @media screen and (min-width: v.$laptop) and (orientation: "landscape") {
      max-width: 750px;
      //   margin-bottom: 0;
    }
  }

  @media screen and (min-width: v.$laptop) and (orientation: "landscape") {
    align-items: flex-end;
    justify-content: center;
    opacity: 1;
    // padding: 0 3rem;
  }
}
