@use "../variables/variables" as v;

.c-form {
  display: flex;
  flex-direction: column;

  &__innerwrap {
    display: flex;
    margin-bottom: 1.5rem;

    &--centered-content {
      align-items: center;
      justify-content: center;
    }

    &--align-start {
      align-items: center;
      justify-content: flex-start;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__indicator {
    position: relative;
    width: 24px;
    height: 24px;
    // border: 1px solid black;
    margin-left: 1rem;
  }

  &__submit-success {
    color: v.$blue-primary-500;
    visibility: hidden;
    &--visible {
      visibility: visible;
    }
  }

  &__error {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: v.$error-red;
    padding: 0.75rem v.$fluid-pad-mar;
    border-radius: 0 0 v.$border-radius v.$border-radius;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;

    &--visible {
      display: flex;
    }
  }

  &__input {
    padding: 0.75rem;
    width: 100%;
    border-radius: v.$border-radius;
    background-color: v.$neutral-800;
    border: 2px solid v.$neutral-800;
    // box-shadow: v.$short-shadow-neutral-600;
    // border: 1px solid white;
    transition: box-shadow v.$anim-duration ease, border v.$anim-duration ease,
      background-color v.$anim-duration ease;

    &:focus {
      border: 2px solid v.$neutral-600;
      background-color: white;
    }

    &--margin-right {
      margin-right: 0.5rem;
    }

    &--margin-left {
      margin-left: 0.5rem;
    }

    &--border-red {
      border-radius: v.$border-radius v.$border-radius 0 0;
      border: 2px solid v.$error-red;

      &:focus {
        border: 2px solid v.$error-red;
        background-color: white;
      }
    }

    &--border-red-normal {
      border: 2px solid v.$error-red;

      &:focus {
        border: 2px solid v.$error-red;
        background-color: white;
      }
    }
  }
}
