@use "../variables/variables" as v;

//header
.c-header {
  color: v.$neutral-100;
  // transition: color v.$anim-duration ease;

  &--small {
    font-size: v.$small;
  }

  &--large {
    font-size: v.$large;
  }

  &--xx-large {
    font-size: v.$xx-large;
  }

  &--fluid-xx-large {
    font-size: clamp(2rem, 5vw, 4rem);
  }

  &--fluid-x-large {
    font-size: clamp(2rem, 5vw, 3.8rem);
  }

  &--fluid-large {
    font-size: clamp(2rem, 5vw, 3.5rem);
  }

  &--fluid-medium {
    font-size: clamp(2rem, 5vw, 3rem);
  }

  &--fluid-small {
    font-size: clamp(2rem, 5vw, 2.5rem);
  }

  &--margin-bottom {
    margin-bottom: 0.5rem;
  }

  &--margin-bottom-30 {
    margin-bottom: 0.3rem;
  }

  &--margin-top {
    margin-top: 1rem;
  }

  &__name {
    color: v.$blue-primary-500;
  }

  &--italic {
    font-style: italic;
  }

  &--white {
    color: white;
  }

  &--neutral-500 {
    color: v.$neutral-500;
  }

  &--neutral-600 {
    color: v.$neutral-600;
  }

  &--neutral-700 {
    color: v.$neutral-700;
  }

  &--neutral-800 {
    color: v.$neutral-800;
  }

  &--neutral-900 {
    color: v.$neutral-900;
  }

  &--blue-primary-500 {
    color: v.$blue-primary-500;
  }

  &--blue-primary-600 {
    color: v.$blue-primary-600;
  }

  &--blue-primary-700 {
    color: v.$blue-primary-700;
  }

  &--green-secondary-500 {
    color: v.$green-secondary-500;
  }

  &--green-secondary-700 {
    color: v.$green-secondary-700;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--shadow {
    text-shadow: v.$short-shadow-neutral-600;
  }

  &--break-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  &--hoverable {
    cursor: pointer;
    &:hover {
      color: v.$neutral-500;
      // text-decoration: underline;
    }
  }
}

//text
.c-text {
  color: v.$neutral-100;
  // align-items: center;
  &__link {
    font-weight: 700;
    color: v.$blue-secondary-500;
  }

  &--margin-bottom {
    margin-bottom: 0.5rem;
  }

  &--margin-top {
    margin-top: 0.5rem;
  }

  &--700 {
    font-weight: 700;
  }

  &--fluid-large {
    font-size: clamp(2rem, 5vw, 3.5rem);
  }

  &--fluid-medium {
    font-size: clamp(2rem, 5vw, 3rem);
  }

  &--fluid-small {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
  }

  &--small {
    font-size: v.$small;
  }

  &--large {
    font-size: v.$large;
  }

  &--x-large {
    font-size: v.$x-large;
  }

  &--xx-large {
    font-size: v.$xx-large;
  }

  &--italic {
    font-style: italic;
  }

  &--thin {
    font-weight: 300;
  }

  &--bold {
    font-weight: 700;
  }

  &--text-center {
    text-align: center;
  }

  &--centered-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  //colors
  &--neutral-300 {
    color: v.$neutral-300;
  }

  &--neutral-400 {
    color: v.$neutral-400;
  }

  &--neutral-500 {
    color: v.$neutral-500;
  }

  &--neutral-600 {
    color: v.$neutral-600;
  }

  &--neutral-700 {
    color: v.$neutral-700;
  }

  &--neutral-800 {
    color: v.$neutral-800;
  }

  &--neutral-900 {
    color: v.$neutral-900;
  }

  &--green-secondary-300 {
    color: v.$green-secondary-300;
  }

  &--green-secondary-400 {
    color: v.$green-secondary-400;
  }

  &--green-secondary-500 {
    color: v.$green-secondary-500;
  }

  &--green-secondary-700 {
    color: v.$green-secondary-700;
  }

  &--blue-primary-500 {
    color: v.$blue-primary-500;
  }

  &--blue-primary-600 {
    color: v.$blue-primary-600;
  }

  &--blue-primary-700 {
    color: v.$blue-primary-700;
  }

  &--white {
    color: white;
  }

  &--red {
    color: v.$error-red;
  }

  &--unclickable {
    pointer-events: none;
  }

  &--absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
